<footer class="modern-footer">
  <div class="modern-wrap modern-footer-inner">
    <span>Benjamin Ory</span>
    <span>
      <a href="mailto:{{ site.email }}">email</a>
      /
      <a href="https://github.com/{{ site.github_username }}">github</a>
      /
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">linkedin</a>
      /
      <a href="https://orcid.org/{{ site.orcid_id }}">orcid</a>
    </span>
  </div>
</footer>
